.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
  }
  
  html, body {
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    /* padding: 10px; */
    margin: 0px;
  }
  
  .container > div:nth-child(1n) {
    background-color: #0ff78a;	
  }
  
  .container > div:nth-child(3n) {
    background-color: #f7a0e1;
  }
  
  .container > div:nth-child(2n) {
    background-color: #ec170f;
  }
  
  .container > div:nth-child(4n) {
    background-color: #5b23f7;
  }